[submodule "Nautilus/Vendor/SDL"]
	path = Nautilus/Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Nautilus/Vendor/glm"]
	path = Nautilus/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Nautilus/Vendor/msdf-atlas-gen"]
	path = Nautilus/Vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "Nautilus/Vendor/imgui"]
	path = Nautilus/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Nautilus/Vendor/imguizmo"]
	path = Nautilus/Vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Nautilus/Vendor/entt"]
	path = Nautilus/Vendor/entt
	url = https://github.com/skypjack/entt.git
